.left_wrapper{
    width: 30vw;
    margin: 20px; 
    padding: 10px;
}

.top_section{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction:  column;
    gap: 30px;
    align-items: center;
}

.error{
    color: red;
}

.input {
    width: 100%;
    max-width: 420px;
    height: 80px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }


  .extract_button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
  }

  
  .extract_button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .extract_button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }



  .list_section{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .menu_items{
    padding: 0;
    overflow-x: hidden;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    overflow-y: scroll;
    max-width: 500px;
    max-height: 500px;
  }

  .item{
    max-width: 400px;
    padding: 5px;
    color: black;
    margin: 16px;
    border-radius: 10px;
    line-height: 2em;
    border: 2px solid rgba(116, 250, 127, 0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  @media screen and (max-width: 768px) {
    .left_wrapper {
      width: 90vw;
      margin: 10px; 
      padding: 5px;
    }
    
    .input {
      max-width: 100%;
    }
    
    .item {
      width: 100%;
      max-width: 400px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .top_section {
      flex-direction: column;
      gap: 10px;
    }
    
    .input {
      height: 60px;
      font-size: 16px;
      padding: 10px;
    }
    
    .extract_button {
      width: 150px;
      height: 40px;
      font-size: 16px;
    }
    
    .menu_items {
      height: auto;
      overflow-y: visible;
    }
  }
  